In [30]:
import pandas as pd
import numpy as np

In [15]:
train_size = .8
dev_size = .1
test_size = .1

In [16]:
df = pd.read_csv('../data/raw/Tweets.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [18]:
# Sample of same size as df (frac=1) with shuffled rows
df = df.sample(frac=1, random_state=42)

In [19]:
# Values only
data_array = df.values
data_shape = data_array.shape

In [25]:
# Split data -> train, test, dev
train_length = round(data_shape[0] * train_size)
test_length = round(data_shape[0] * test_size)
dev_lenth = data_shape[0] - train_length - test_length
train_array = data_array[:train_length]
test_array = data_array[train_length:train_length + test_length]
dev_array = data_array[train_length + test_length:]

In [31]:
# Save as files
np.save("../data/interim/train_data.npy", train_array)
np.save("../data/interim/test_data.npy", test_array)
np.save("../data/interim/dev_data.npy", dev_array)